.grid-container {
    display: grid;
    grid-template-columns: 13.5% 13.5% 13.5% 13.5% 13.5% 13.5% 13.5%;
    gap: 10px 10px;
    background-color: Grey;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .grid-container > div {
    background-color: White;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }

  h1 {text-align: center; }